{% extends "layout.html" %}
{% block title %}SolAnalyzer - Home{% endblock %}

{% block content %}
<div class="container">
    <p>Welcome <strong class="username">{{ username }}</strong>!</p>
    {% if time_left and time_left.total_seconds() > 0 %}
        <p>Subscription: 
            <strong>
                <span class="time-left">{{ time_left.days }} </span>days, 
                <span class="time-left">{{ time_left.seconds // 3600 }} </span>hours, 
                <span class="time-left">{{ (time_left.seconds % 3600) // 60 }} </span>minutes
            </strong>
        </p>
    {% elif not time_left or time_left.total_seconds() <= 0 %}
    <p>Your subscription has <span class="expired-text">expired</span>!</p>
    <div class="subscription-container">
        <button id="subscribe-button" class="subscriben-button" type="button">Subscribe</button>
        <span class="info-icon2" id="subscribe-info-icon"></span> <!-- Icono de información -->
        <div class="tooltip2" id="subscribe-tooltip">
            The monthly subscription is 0.5 SOL. You can pay with the Phantom wallet, or if you prefer, you can contact me via Telegram to pay manually.
        </div> <!-- Tooltip -->
        <button id="manual-pay-button" class="manual-button" type="button">Pay manually</button>
    </div>
    {% endif %}

    <div class="info-sections">
        <!-- Contenedor para la tabla de retiro -->
        <div class="referral-container2">
            <h3></h3>
            <table class="withdraw-table">
                <tr>
                    <th>Wallet:</th>
                    <td class="withdraw-address">{{ withdraw_wallet if withdraw_wallet else 'No wallet added' }}</td>
                </tr>
                <tr>
                    <th>Set wallet:</th>
                    <td>
                        <input type="text" id="withdraw-wallet">
                    </td>
                </tr>
            </table>
            <div class="save-container">
                <button id="save-wallet-button" class="save-button">Save</button>
                <span class="info-icon" id="info-icon"></span> <!-- Icono de información -->
                <div class="tooltip" id="tooltip">This wallet is where you will receive the accumulated referral fees.</div> <!-- Tooltip -->
            </div>
        </div>
        
        <!-- Contenedor para la tabla de referidos -->
        <div class="referral-container">
            <h3></h3>
            <table class="referral-table">
                <tr>
                    <th>Referral:</th>
                    <td><a href="#" id="copy-link" onclick="copyReferralLink()">Copy link</a></td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td>
                        <span id="referral-quantity" style="cursor: pointer;">{{ referral_count }}</span>
                        <span class="referral-tooltip2" id="referral-tooltip">
                            {% for referral in referrals %}
                                {{ referral.username }}<br>
                            {% endfor %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th style="padding: 0px 6px 1px 33px;">Fee:</th>
                    <td>{{ referral_fee }} SOL <span class="info-icon3" id="referral-info-icon"></span></td>
                </tr>
            </table>
            <div class="tooltip3" id="referral-tooltip-info">You will receive 10% from referrals who pay the subscription.</div> <!-- Tooltip -->
            <textarea id="referral-link" style="position:absolute; left:-9999px;">{{ referral_link }}</textarea>
        </div>
    </div>
</div>



<div class="analyze-logout-container">
    <form id="analyze-form" action="/" method="post">
        <input type="text" name="wallet" class="input-wallet" placeholder="Wallet" value="{{ request.form.wallet }}" 
               style="width: 343px;" title="Enter a valid Solana wallet address." pattern="[1-9A-HJ-NP-Za-km-z]{32,44}" required lang="en">
        <input type="number" name="days_to_analyze" class="input-days" placeholder="Days to analyze" value="{{ request.form.days_to_analyze }}" 
               min="1" title="Enter at least 1 day." required lang="en">
        <input type="submit" id="analyze-button" value="Analyze" {% if not time_left or time_left.total_seconds() <= 0 %}disabled{% endif %}>
        <input type="button" class="btn-logout" id="stop-button" value="Stop" style="display: none;">
        <div id="loading" style="display: none;">
            <p id="loading-text"></p>
        </div>
    </form>
    
    
    
    
    {% if current_user.is_authenticated %}
        <form id="logout-form" action="{{ url_for('logout') }}" method="POST" style="display: inline;">
            <button type="submit" class="btn-logout">Logout</button>
        </form>
    {% endif %}
</div>

<h2></h2>
<table class="resultados-table" style="display: none;">
    <tr>
        <th>SOL Balance</th>
        <td id="sol-balance"></td>
    </tr>
    <tr>
        <th>Total Profit SOL</th>
        <td id="total-profit-sol"></td>
    </tr>
    <tr>
        <th>Total Profit USD</th>
        <td id="total-profit-usd"></td>
    </tr>
    <tr>
        <th>Buy Average</th>
        <td id="buy-average"></td>
    </tr>
</table>

<h3></h3>
<table class="tokens-table" style="display: none;">
    <tr>
        <th>Token</th>
        <th>First Buy</th>
        <th>Tokens Received</th>
        <th>SOL Used</th>
        <th>Fee</th>
        <th>Buy/Sell</th>
        <th>SOL Received</th>
        <th>Fee</th>
        <th>Tokens Sold</th>
        <th>Last Sell</th>
        <th>Profit SOL</th>
        <th>Profit USD</th>
        <th>Profit %</th>
        <th>Chart</th>
    </tr>            
</table>

<!-- Contenedor de notificación -->
<div id="notification" class="notification"></div>

<!-- Incluir la biblioteca de Solana Web3.js -->
<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>

<script type="text/javascript">
    // Función para copiar el enlace de referido al portapapeles
    function copyReferralLink() {
        var referralLink = document.getElementById("referral-link");
        referralLink.select();
        referralLink.setSelectionRange(0, 99999); // Para móviles

        navigator.clipboard.writeText(referralLink.value).then(function() {
            // Indicador visual alternativo
            var copyLinkElement = document.getElementById("copy-link");
            copyLinkElement.textContent = "Copied!";
            setTimeout(function() {
                copyLinkElement.textContent = "Copy link";
            }, 2000); // Cambia el texto de vuelta después de 2 segundos
        }, function(err) {
            console.error("Could not copy text: ", err);
        });
    }

    const connection = new solanaWeb3.Connection('https://serene-damp-glitter.solana-mainnet.quiknode.pro/67bc037e49576cd54c3e579a9ff70f59bc77e8f5/');

    document.addEventListener('DOMContentLoaded', function(event) {
        const subscribeButton = document.getElementById('subscribe-button');
        const manualPayButton = document.getElementById('manual-pay-button');
        const saveWalletButton = document.getElementById('save-wallet-button');
        const analyzeButton = document.getElementById('analyze-button');
        const stopButton = document.getElementById('stop-button');
        let currentTaskId = null;
        let analysisStopped = false;

        function showNotification(message) {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.classList.add('show');
            setTimeout(() => {
                notification.classList.remove('show');
            }, 5000); // Ocultar la notificación después de 5 segundos
        }

        if (subscribeButton) {
            subscribeButton.addEventListener('click', async function() {
                const provider = window.phantom?.solana;
                if (provider?.isPhantom) {
                    try {
                        const { blockhash } = await connection.getLatestBlockhash();
                        const transaction = new solanaWeb3.Transaction({
                            feePayer: provider.publicKey,
                            recentBlockhash: blockhash,
                        }).add(
                            solanaWeb3.SystemProgram.transfer({
                                fromPubkey: provider.publicKey,
                                toPubkey: new solanaWeb3.PublicKey('5Yc8RRibuFAibcmFufeWGr6bShsRs3xj8es1iqRT6CRy'),
                                lamports: solanaWeb3.LAMPORTS_PER_SOL * 0.5
                            })
                        );

                        

                        const signedTransaction = await provider.signTransaction(transaction);
                        const signature = await connection.sendRawTransaction(signedTransaction.serialize());

                        // Mostrar la primera línea de la notificación
                        showNotification('Your payment is being verified, please wait about 30 seconds!');

                        // Mostrar la segunda línea de la notificación después de un breve retraso
                        setTimeout(() => {
                            // Mostrar la segunda notificación
                            showNotification('If there is any problem, contact @Pueyo10');

                            // Quitar la segunda notificación después de una duración extendida
                            setTimeout(() => {
                                // Encuentra la notificación y elimínala
                                const notificationElements = document.getElementsByClassName('notification');
                                if (notificationElements.length > 0) {
                                    document.body.removeChild(notificationElements[0]);
                                }
                            }, 10000); // Duración extendida de 10 segundos
                        }, 5000); // Puedes ajustar el tiempo según sea necesario

                        await connection.confirmTransaction(signature, 'processed');
                        console.log('Payment done:', signature);



                        const response = await fetch('/update_subscription', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ signature: signature })
                        });

                        console.log("Firma enviada al backend:", signature);

                        if (response.ok) {
                            const data = await response.json();
                            if (data.status === 'success') {
                                console.log(data.message);
                                location.reload();
                            } else {
                                console.error('Error:', data.message);
                            }
                        } else {
                            const errorText = await response.text();
                            console.error('HTTP Error:', response.statusText, errorText);
                        }
                    } catch (err) {
                        console.error('Connection failed!', err);
                        alert('Please, connect your Phantom wallet first!');
                    }
                } else {
                    alert('Phantom Wallet its not installed. Please install it from https://phantom.app/');
                }
            });
        }

        if (manualPayButton) {
            manualPayButton.addEventListener('click', function() {
                window.open('https://t.me/Pueyo10', '_blank');
            });
        }

        if (saveWalletButton) {
            saveWalletButton.addEventListener('click', async function(event) {
                event.stopPropagation();
                const withdrawWalletAddress = document.getElementById('withdraw-wallet').value;
        
                const response = await fetch('/save_withdraw_wallet', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ wallet: withdrawWalletAddress })
                });
        
                if (response.ok) {
                    const data = await response.json();
                    if (data.status === 'success') {
                        console.log(data.message);
                        location.reload(); // Recargar la página después de guardar la billetera
                    } else {
                        console.error('Error:', data.message);
                        alert('Failed to save wallet address.');
                    }
                } else {
                    const errorText = await response.text();
                    console.error('HTTP Error:', response.statusText, errorText);
                    alert('Failed to save wallet address.');
                }
            });
        }
        
        // Agregar evento de mouseover y mouseout para mostrar y ocultar el tooltip
        const infoIcon = document.getElementById('info-icon');
        const tooltip = document.getElementById('tooltip');

        if (infoIcon && tooltip) {
            infoIcon.addEventListener('mouseover', function() {
                tooltip.style.display = 'block';
            });

            infoIcon.addEventListener('mouseout', function() {
                tooltip.style.display = 'none';
            });
        }

        // Agregar eventos de mouseover y mouseout para el nuevo icono de información de suscripción
        const subscribeInfoIcon = document.getElementById('subscribe-info-icon');
        const subscribeTooltip = document.getElementById('subscribe-tooltip');

        if (subscribeInfoIcon && subscribeTooltip) {
            subscribeInfoIcon.addEventListener('mouseover', function() {
                subscribeTooltip.style.display = 'block';
            });

            subscribeInfoIcon.addEventListener('mouseout', function() {
                subscribeTooltip.style.display = 'none';
            });
        }

        // Agregar eventos de mouseover y mouseout para el nuevo icono de información de referidos
        const referralInfoIcon = document.getElementById('referral-info-icon');
        const referralTooltip = document.getElementById('referral-tooltip-info');

        if (referralInfoIcon && referralTooltip) {
            referralInfoIcon.addEventListener('mouseover', function() {
                referralTooltip.style.display = 'block';
            });

            referralInfoIcon.addEventListener('mouseout', function() {
                referralTooltip.style.display = 'none';
            });
        }

        document.getElementById('analyze-form').onsubmit = function(e) {
            var walletInput = document.querySelector('.input-wallet');
            var daysInput = document.querySelector('.input-days');
        
            // Restablecer mensajes de error anteriores
            walletInput.setCustomValidity('');
            daysInput.setCustomValidity('');
        
            const walletPattern = /^[1-9A-HJ-NP-Za-km-z]{32,44}$/;
            if (!walletPattern.test(walletInput.value)) {
                walletInput.setCustomValidity('Please enter a valid Solana wallet address, 32-44 alphanumeric characters.');
                walletInput.reportValidity();
                e.preventDefault();
                return;
            }
        
            if (daysInput.value < 1) {
                daysInput.setCustomValidity('Enter at least 1 day.');
                daysInput.reportValidity();
                e.preventDefault();
                return;
            }
        
            // Rest of the original function...
            e.preventDefault();  // Evita el envío del formulario tradicional

            clearResults();
            analysisStopped = false;

            var loadingContainer = document.getElementById('loading');
            var loadingText = document.getElementById('loading-text');
            loadingContainer.style.display = 'block';
            var fullText = "Analyzing... Please wait!";
            var currentText = '';
            var index = 0;

            clearInterval(window.typeInterval);
            window.typeInterval = setInterval(function() {
                if (index < fullText.length) {
                    currentText += fullText[index++];
                    loadingText.textContent = currentText;
                } else {
                    currentText = '';
                    index = 0;
                }
            }, 150);

            var wallet = document.querySelector('.input-wallet').value;
            var daysToAnalyze = document.querySelector('.input-days').value;

            fetch('/submit-task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ wallet: wallet, days_to_analyze: daysToAnalyze }),
            })
            .then(response => response.json())
            .then(data => {
                var taskId = data.task_id;
                currentTaskId = taskId;  // Guardar el ID de la tarea actual
                console.log(`Task ID for analysis: ${taskId}`);

                analyzeButton.style.display = 'none';
                stopButton.style.display = 'inline-block';  // Mostrar el botón "Stop"

                var interval = setInterval(function() {
                    if (analysisStopped) {
                        clearInterval(interval);
                        return;
                    }
                    fetch('/task-status/' + taskId)
                    .then(response => response.json())
                    .then(data => {
                        if (data.state === 'SUCCESS') {
                            clearInterval(interval);
                            loadingContainer.style.display = 'none';
                            if (!analysisStopped) {
                                updateResultsTable(data.result);
                            }

                            analyzeButton.style.display = 'inline-block';  // Mostrar el botón "Analyze"
                            stopButton.style.display = 'none';
                        } else if (data.state === 'REVOKED') {
                            clearInterval(interval);
                            console.log('Task was revoked.');
                            analyzeButton.style.display = 'inline-block';  // Mostrar el botón "Analyze"
                            stopButton.style.display = 'none';
                        }
                    });
                }, 2000);

                // Agregar el evento beforeunload aquí
                window.addEventListener('beforeunload', function (e) {
                    const data = JSON.stringify({ task_id: taskId });
                    console.log(`Sending request to release endpoint for Task ID: ${taskId}`);
                    
                    const result = navigator.sendBeacon('/release-endpoint', new Blob([data], { type: 'application/json' }));
                    
                    console.log(`Beacon sent: ${result}`);
                });
            })
            .catch(error => console.error('Error:', error));
        };

        stopButton.addEventListener('click', function() {
            if (currentTaskId) {
                analysisStopped = true;
                fetch('/release-endpoint', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ task_id: currentTaskId }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log('Analysis stopped successfully');
                        clearResults();
                        document.getElementById('loading').style.display = 'none';

                        analyzeButton.style.display = 'inline-block';  // Mostrar el botón "Analyze"
                        stopButton.style.display = 'none';
                    } else {
                        console.error('Failed to stop analysis:', data.message);
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });


        function clearResults() {
            var resultsTable = document.querySelector('.resultados-table');
            var tokensTable = document.querySelector('.tokens-table');

            // Oculta las tablas
            if (resultsTable && tokensTable) {
                resultsTable.style.display = 'none';
                tokensTable.style.display = 'none';
            }

            // Limpia el contenido de las tablas
            // Elimina las filas de la tabla de tokens excepto la fila del encabezado
            var rows = tokensTable.querySelectorAll('tr:not(:first-child)');
            rows.forEach(row => row.parentNode.removeChild(row));

            // Restablece el contenido de los resultados a valores vacíos o predeterminados
            document.getElementById('sol-balance').textContent = '';
            document.getElementById('total-profit-sol').textContent = '';
            document.getElementById('total-profit-usd').textContent = '';
            document.getElementById('buy-average').textContent = '';
        }

        // Función para actualizar la tabla de resultados con los nuevos datos
        function updateResultsTable(resultados) {
            var resultsTable = document.querySelector('.resultados-table');
            var tokensTable = document.querySelector('.tokens-table');

            if (resultados && resultados.balance_SOL !== undefined) {
                document.getElementById('sol-balance').textContent = resultados.balance_SOL;
                document.getElementById('total-profit-sol').textContent = resultados.formatted_total_profit_SOL;
                document.getElementById('total-profit-usd').textContent = resultados.formatted_total_profit_USD;
                document.getElementById('buy-average').textContent = resultados.average_final_SOL_per_buy;
                // Otros updates...

                // Muestra las tablas después de actualizar todos los elementos con éxito
                resultsTable.style.display = 'table';
                tokensTable.style.display = 'table';
            }

            // Aplica clases basadas en condiciones para Total Profit SOL
            var profitSolCell = document.getElementById('total-profit-sol');
            profitSolCell.className = resultados.total_profit_SOL > 0 ? 'positive' : 'negative';
            // Aplica clases basadas en condiciones para Total Profit USD
            var profitUsdCell = document.getElementById('total-profit-usd');
            profitUsdCell.className = parseFloat(profitUsdCell.textContent.replace(/[\$,]/g, '')) > 0 ? 'positive' : 'negative';

            // Limpiar la tabla de tokens antes de añadir nuevas filas
            tokensTable.innerHTML = `<tr>
                <th>Token</th>
                <th>First Buy</th>
                <th>Tokens Received</th>
                <th>SOL Used</th>
                <th>Fee</th>
                <th>Buy/Sell</th>
                <th>SOL Received</</th>
                <th>Fee</th>
                <th>Tokens Sold</th>
                <th>Last Sell</th>
                <th>Profit SOL</th>
                <th>Profit USD</th>
                <th>Profit %</th>
                <th>Chart</th>
            </tr>`; // Reinserta los encabezados

            resultados.tokens_summary.forEach(token => {
                let row = tokensTable.insertRow(-1);
                row.insertCell(0).textContent = token.name;
                row.insertCell(1).innerHTML = token.details.filter(detail => detail.type === 'buy').map(detail => detail.first_date).join('<br>');
                row.insertCell(2).innerHTML = token.details.filter(detail => detail.type === 'buy').map(detail => detail.tokens).join('<br>');
                row.insertCell(3).innerHTML = token.details.filter(detail => detail.type === 'buy').map(detail => `<span class="sol-used-value">${detail.SOL}</span>`).join('<br>');
                row.insertCell(4).innerHTML = token.details.filter(detail => detail.type === 'buy').map(detail => `${detail.fee}`).join('<br>');
                row.insertCell(5).textContent = token.buy_sell;
                row.insertCell(6).innerHTML = token.details.filter(detail => detail.type === 'sell').map(detail => `<span class="sol-received-value">${detail.SOL}</span>`).join('<br>');
                row.insertCell(7).innerHTML = token.details.filter(detail => detail.type === 'sell').map(detail => `${detail.fee}`).join('<br>');
                row.insertCell(8).innerHTML = token.details.filter(detail => detail.type === 'sell').map(detail => detail.tokens).join('<br>');
                row.insertCell(9).innerHTML = token.details.filter(detail => detail.type === 'sell').map(detail => detail.last_date).join('<br>');

                // Inserta la celda 'Profit SOL' antes de asignar la clase
                let profitSolCell = row.insertCell(-1); // Usa -1 para añadir al final
                profitSolCell.textContent = token.formatted_profit_SOL;
                let profitSolValue = typeof token.profit_SOL === 'string'
                    ? parseFloat(token.profit_SOL.replace(/[\$,]/g, ''))
                    : token.profit_SOL;
                profitSolCell.className = profitSolValue > 0 ? 'positive' : (profitSolValue < 0 ? 'negative' : '');

                // Inserta y configura la celda de 'Profit USD'
                let profitUsdCell = row.insertCell(-1);
                profitUsdCell.textContent = token.formatted_profit_USD;
                let profitUsdValue = typeof token.profit_USD === 'string'
                    ? parseFloat(token.profit_USD.replace(/[\$,]/g, ''))
                    : token.profit_USD;
                profitUsdCell.className = profitUsdValue > 0 ? 'positive' : (profitUsdValue < 0 ? 'negative' : '');

                // Inserta y configura la celda de 'Profit Percentage'
                let profitPercentageCell = row.insertCell(-1);
                profitPercentageCell.textContent = token.formatted_profit_percentage;
                let profitPercentageValue = typeof token.profit_percentage === 'string'
                    ? parseFloat(token.profit_percentage.replace(/%/g, ''))
                    : token.profit_percentage;
                profitPercentageCell.className = profitPercentageValue > 0 ? 'positive' : (profitPercentageValue < 0 ? 'negative' : '');

                // Inserta la celda de 'Chart'
                row.insertCell(-1).innerHTML = `<a href="${token.chart_url}" target="_blank">Dexscreener</a>`;
            });
        }
    });
</script>

{% endblock %}

