{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <h2></h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }} {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }} {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-secondary" href="{{ url_for('register') }}">Register</a>
            </div>
        </form>
        <a href="{{ url_for('reset_password_request') }}">Forgot your password?</a>
    </div>
{% endblock %}
